COMPOSE_PROJECT_NAME=tstack

# Proxy
CERT_EMAIL=ADMIN_EMAIL_ADDRESS
CERT_TEST=false
DOMAINS=8000:TSTACK_DOMAIN_NAME 3000:GRAFANA_DOMAIN_NAME
PROXY_HOST=172.17.0.1

# tserve, treg, and consumeruser
ETCD_HOSTS=http://etcd.tstack_default:2379

# tserve
BROKER_NAME=TSTACK_DOMAIN_NAME

# treg
BROKER_URL=ssl://TSTACK_DOMAIN_NAME:8883
REGISTRATION_KEY=TODO_REGISTRATION_PW

# Cosnumer and consumeruser
CONSUMER_USERNAME=consumer
CONSUMER_PASSWORD=TODO_CONSUMER_PW

# Grafana
GRAFANA_ADMIN_PASSWORD=TODO_GRAFANA_PW

