COMPOSE_PROJECT_NAME=tstack

BROKER_NAME=tserve.mydomain.com
ETCD_HOSTS=http://etcd.tstack_default:2379

# Certificates (see https://hub.docker.com/r/dougg/certificate-master )
# Certificate service must make a certificate for tserve (the broker)
# and one called "client" for the clients
CERTS=tserve.mydomain.com client
AUTHORITY_NAME=Automated
AUTHORITY_PASSWORD=PLEASE_CHANGE_ME
COMPANY=TraferoTest
DEPARTMENT=Development
COUNTRY_CODE=US
STATE=California
CITY="Palo Alto"


# treg service
# Broker name us passed to clients in registration response, and not directly
# used by treg
BROKER_URL=ssl://=tserve.mydomain.com:8883
REGISTRATION_KEY=PLEASE_CHANGE_ME_TOO



